main {
  background-color: white;
}

.tweet-btn {
    height: 20%;
    width: 100%;
    border-radius: 20px;
    background-color: #1DA1F2;
    color: white;
}

.hidden {
    display: none;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  label {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
  }

.modal-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-top > button {
    margin-left: auto;
}

.modal-top > h1 {
    right: 50%;
}

.hide {
    visibility: hidden;
}

.modal-content > form {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.modal-content > form > *{
    padding: 5px;
    margin-left: 10px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-shadow: 0 0px 15px rgba(8,7,16,0.6);
  right: 5%;
  top: 35%;
  width: 30%;
}

.login-page > * {
  margin-bottom: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-form > * {
  margin-bottom: 5px;
  padding: 5px;
  width: 60%;
  border-radius: 20px;
}

.login-btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 2em;
  width: 100%;
}

.container, .form-container {
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > h3 {
  text-align: center;
}

input {
  text-align: center;
}

label > * {
  width: 100%;
  border-radius: 20px;
  height: 20px;
}

.login-img {
  width: 70%;
  min-height: 100vh;
}

.login-submit {
  margin-top: 15px;
  border-radius: 20px;
  font-weight: bold;
  width: 60%;
  height: 40px;
  background-color: white;
  color: #1DA1F2;
}
/* 
.login-form{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.login-form *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.login-form > label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.login-form > input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
.login-form > ::placeholder{
  color: black;
}
.login-btn{
  margin-top: 50px;
  width: 100%;
  background-color: black;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
} */